.Services{
    width: 100%;
    height: 640px;
    background-color: rgb(238, 233, 228);
    .constract{
        width: 100%;
        height: auto;

        @include center();
        flex-direction: column;
        .service{

            width: 60%;
            height: auto;
            @include center();
            flex-direction: column;
            // -------
            .line{

                width: 150px;
                @include underline();
            }
            // --------
            .bg{
                width: 100%;
            }
            ul{
                width: 100%;
                list-style: none;
            
                @include between();
                li{
                    width: 22%;
                    height: auto;
                    @include between_c();
                    img{
                        width: 30px;
                        height: 30px;
                    }
                    .text{
                        line-height: 10px;
                        font-size: 12px;
                    }


                }
            }

        }

    }   
    .cut{
        width: 800px;
        height: 200px;
        float: right;
        background-color: $myred;
        clip-path: polygon(100% 80%, 0% 100%, 100% 100%);
    }
}

@media (max-width:768px){
    .Services{
        width: 100%;
        @include center();
        flex-direction: column;
        .constract{
            width: 90%;
           

            .service{
                width: 100%;
                ul{
                    width: 100%;
                    flex-direction: column;
                    li{
                        width: 100%;
                    }
                }
            }

            
        }
    }
}